{% extends "base.html" %}

{% block title %}W3.CSS Template{% endblock %}

{% block additional_styles %}
<style>
    /* Additional CSS specific to main.html can go here */
</style>
{% endblock %}

{% block content %}
<!-- Page-specific content -->
<div class="w3-panel">
    <div class="w3-row-padding" style="margin:0 -16px">
        <div class="w3-twothird">
            <div id="optionsContainer">
                <h5 id="stockOption" class="selected" style="margin-right: 20px;">Stock</h5>
                <button id="futuresButton" class="unselected">Futures</button>
            </div>
            <div class="content-container">
                <div class="flex-container">
                    <div class="summary-row">
                        <strong>Total Price:</strong> <span id="totalPrice" style="font-weight: normal;"></span><br>
                        <strong>Total Last Price:</strong> <span id="totalLastPrice" style="font-weight: normal;"></span><br>
                        <strong>Total PnL:</strong> <span id="totalPnL" style="font-weight: normal;"></span><br>
                        <strong>PnL Ratio:</strong> <span id="pnlRatio" style="font-weight: normal;"></span><br>
                        <strong>Account Balance:</strong> <span id="accountBalance" style="font-weight: normal;"></span>
                    </div>
                    <!-- Charts -->
                    <div class="chart-container">
                        <canvas id="profitChart" class="chart-canvas"></canvas>
                    </div>
                    <div class="chart-container">
                        <canvas id="stockChart" class="chart-canvas"></canvas>
                    </div>
                </div>
            </div>
            <div class="table-flex-container">
                <div class="table-container">
                    <table class="w3-table w3-striped w3-white" id="dataTable">
                        <tr>
                            <th id="header-id">ID</th>
                            <th id="header-code">Code</th>
                            <th id="header-name">Name</th>
                            <th id="header-direction">Direction</th>
                            <th id="header-quantity">Quantity</th>
                            <th id="header-price">Cost</th>
                            <th id="header-last-price">Last Price</th>
                            <th id="header-profit-ratio">Profit Ratio</th>
                            <th id="header-pnl">PnL</th>
                            <th id="header-stock-percentage">Stock %</th>
                            <th id="header-dividend">Dividend</th>
                            <th>Dividend Yield (%)</th>
                            <th>MoM (%)</th>
                            <th>YoY (%)</th>
                        </tr>
                        <!-- Rows will be added dynamically by JavaScript -->
                    </table>
                </div>
                <div id="financialDataContainer">
                    <h2>{{ date_to_use }} 三大法人買賣金額統計表</h2>
                    {{ financial_data_html | safe }}
                </div>
            </div>
            <!-- Display the JSON data -->
            <div id="jsonDataTable">
                <h2>{{ date_to_use }}三大法人期貨契約(交易口數多空淨額/未平倉餘額多空淨額)</h2>
                {{ json_data_html | safe }}
            </div>
            <div id="jsonDataTable">
                <h2>{{ date_to_use }}三大法人夜盤期貨契約(交易口數多空淨額)</h2>
                {{ json_data_html_night | safe }}
            </div>
            <div id="jsonDataTable">
                <h2>{{ date_to_use }}</h2>
                {{ graph_html|safe }}
            </div>
        </div>
    </div>
</div>
{% endblock %}
