{% extends "base.html" %}

{% block title %}Watch List{% endblock %}

{% block content %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<style>
    #sortableTable td.positive { color: green !important; }
    #sortableTable td.negative { color: red !important; }
    #sortableTable td.neutral { color: black !important; }
</style>

<div class="w3-container" style="display: flex; align-items: center;">
    <h2 style="margin-right: 20px;">Watch List</h2>
    
    <!-- Form for adding new stock symbol -->
    <form action="/add_stock" method="post" style="flex-grow: 1; display: flex; align-items: center;">
        <input type="text" name="stock_symbol" placeholder="Enter stock symbol" required 
               style="height: 36px; border-radius: 10px; flex-grow: 1; margin-right: 10px;">
        <button type="submit" class="w3-btn w3-blue">Add</button>
    </form>
</div>

<table class="w3-table-all w3-hoverable" id="sortableTable">
    <thead>
      <tr class="w3-light-grey">
        <th style="width: 50px;">Sort</th>
        <th style="width: 50px;">Remove</th>
        <th>Stock Symbol</th>
        <th>Company Name</th>
        <th>Price</th>
        <th>Change</th>
        <th>% Change</th>
      </tr>
    </thead>
    <tbody>
      {% for symbol, description in symbols.items() %}
      <tr draggable="true" id="stock-{{ symbol }}">
        <td>
          <i class="fa fa-bars" aria-hidden="true" style="cursor: grab;"></i> <!-- Sort icon -->
        </td>
        <td>
          <form action="/remove_stock" method="post" style="display: inline;">
            <input type="hidden" name="stock_symbol" value="{{ symbol }}">
            <button type="submit" class="w3-button" style="padding: 8px; border: none; background: none;">
              <i class="fa fa-trash"></i>
            </button>
          </form>
        </td>
        <td>{{ symbol }}</td>
        <td>{{ description if description else "Futures" }}</td>
        <td id="stock-{{ symbol }}-price">-</td>
        <td id="stock-{{ symbol }}-change">-</td>
        <td id="stock-{{ symbol }}-change_pct">-</td>
      </tr>
      {% endfor %}
    </tbody>
</table>

<!-- Modal Structure with Input Field for Limit Order -->
<div id="confirmationModal" class="w3-modal">
    <div class="w3-modal-content w3-animate-zoom w3-card-4" style="max-width:600px;">
        <header class="w3-container w3-blue"> 
            <span onclick="document.getElementById('confirmationModal').style.display='none'"
                  class="w3-button w3-display-topright">&times;</span>
            <h2>Confirmation Required</h2>
        </header>
        <div class="w3-container" style="display: flex; justify-content: space-between; align-items: start;">
            <div style="text-align: center;">
                <p>Do you want to continue with this action?</p>
                <p><b>Symbol:</b> <span id="modalStockSymbol"></span></p>
                <p><b>Company:</b> <span id="modalCompanyName"></span></p>
                <p><b>Price:</b> <span id="modalPrice"></span></p>
                <p><b>Quantity:</b> <input type="number" id="modalQuantity" value="1" min="1" style="width: 80px; border: none; outline: none;" onchange="validateQuantity()"></p>

            </div>
            <div style="display: flex; flex-direction: column; margin-top: 20px;">
                <button id="marketBtn" class="w3-button" style="background-color: lightblue; margin-bottom: 10px; padding: 4px 6px; font-size: 12px;" onclick="toggleMarketLimit('market')">Market</button>
                <button id="limitBtn" class="w3-button" style="background-color: lightblue; padding: 4px 6px; font-size: 12px;" onclick="toggleMarketLimit('limit')">Limit</button>
				<input type="number" id="limitPrice" style="display: none; width: 100px; margin-top: 10px;" placeholder="Enter price">
            </div>
        </div>
        <footer class="w3-container w3-padding-16 w3-light-grey w3-row">
            <div class="w3-col s4">
                <button class="w3-button w3-red" style="float: left;" onclick="document.getElementById('confirmationModal').style.display='none'">Cancel</button>
            </div>
            <div class="w3-col s8">
                <button id="buyBtn" class="w3-button w3-green" style="float: right;" onclick="executeOrder('Buy')">Buy</button>
                <button id="sellBtn" class="w3-button w3-red" style="float: right; margin-right: 10px;" onclick="executeOrder('Sell')">Sell</button>
            </div>
        </footer>
    </div>
</div>

<!-- Rank Modal Structure -->
<div id="rankModal" class="w3-modal">
    <div class="w3-modal-content w3-animate-zoom w3-card-4" style="max-width:600px;">
        <header class="w3-container w3-blue">
            <span onclick="document.getElementById('rankModal').style.display='none'"
                  class="w3-button w3-display-topright">&times;</span>
            <h2 id="rankModalTitle">Rank</h2>
        </header>
        <div class="w3-container" id="rankContent">
            <!-- Rank data will be populated here -->
        </div>
        <footer class="w3-container w3-padding-16 w3-light-grey">
            <button class="w3-button w3-red" style="float: right;" onclick="document.getElementById('rankModal').style.display='none'">Close</button>
        </footer>
    </div>
</div>

<script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>
<script>
document.addEventListener('DOMContentLoaded', function() {
    var socket = io();
    let currentSelectedSymbol = null; // Track the currently selected symbol

    socket.on('connect', function() {
        console.log('Connected to server');
    });

    socket.on('stock_data', function(data) {
        console.log('Stock data received:', data);
        for (var symbol in data) {
            updateStockData(symbol, data[symbol]);
            // Update the modal if it is displaying data for this symbol
            if (symbol === currentSelectedSymbol) {
                document.getElementById('modalPrice').textContent = data[symbol].close;
            }
        }
    });

    socket.on('future_data', function(data) {
        console.log('Future data received:', data);
        for (var symbol in data) {
            updateStockData(symbol, data[symbol]);
            // Also update the modal for future data
            if (symbol === currentSelectedSymbol) {
                document.getElementById('modalPrice').textContent = data[symbol].close;
            }
        }
    });

    function updateStockData(symbol, tick) {
        let row = document.getElementById(`stock-${symbol}`);
        if (row) {
            let priceElem = row.querySelector(`#stock-${symbol}-price`);
            let changeElem = row.querySelector(`#stock-${symbol}-change`);
            let changePctElem = row.querySelector(`#stock-${symbol}-change_pct`);

            priceElem.innerText = tick.close;
            changeElem.innerText = tick.change;
            changePctElem.innerText = tick.change_pct;
            updateColor(priceElem, changeElem, changePctElem, parseFloat(tick.change), parseFloat(tick.change_pct.replace('%', '')));
        } else {
            console.log('Element not found for symbol:', symbol);
        }
    }

    function updateColor(priceElem, changeElem, changePctElem, change, changePct) {
        if (change === 0 && changePct === 0) {
            priceElem.style.color = 'black';
            changeElem.style.color = 'black';
            changePctElem.style.color = 'black';
        } else if (change > 0 || changePct > 0) {
            priceElem.style.color = 'red';
            changeElem.style.color = 'red';
            changePctElem.style.color = 'red';
        } else {
            priceElem.style.color = 'green';
            changeElem.style.color = 'green';
            changePctElem.style.color = 'green';
        }
    }

    const rows = document.querySelectorAll('#sortableTable tbody tr');
    rows.forEach(row => {
        row.addEventListener('click', function() {
            if ({{ 'true' if 'logged_in' in session and session['logged_in'] else 'false' }}) {
                const stockSymbol = this.cells[2].textContent; // Assume symbol is in the 3rd cell
                const companyName = this.cells[3].textContent; // Assume company name is in the 4th cell
                const price = this.cells[4].textContent; // Assume price is in the 5th cell

                currentSelectedSymbol = stockSymbol; // Update the current symbol

                document.getElementById('modalStockSymbol').textContent = stockSymbol;
                document.getElementById('modalCompanyName').textContent = companyName;
                document.getElementById('modalPrice').textContent = price;

                document.getElementById('confirmationModal').style.display = 'block';
            } else {
                alert("You must be logged in to perform this action.");
            }
        });
    });

    function confirmAction() {
        document.getElementById('confirmationModal').style.display='none';
        // Implement what happens when Confirm is clicked
    }

    window.confirmAction = confirmAction; // Expose confirmAction to global scope if needed
	
	// Default to 'market' option
    toggleMarketLimit('market');
	
	// Listen for keydown events on the entire document
    document.addEventListener('keydown', function(event) {
        if (event.keyCode === 27) { // 27 is the key code for the ESC key
            closeModal();
        }
    });
});

function toggleMarketLimit(type) {
    var marketBtn = document.getElementById('marketBtn');
    var limitBtn = document.getElementById('limitBtn');
    var limitPriceInput = document.getElementById('limitPrice');

    if (type === 'market') {
        marketBtn.className = 'w3-button w3-red';
        limitBtn.className = 'w3-button w3-grey';
        limitPriceInput.style.display = 'none';
    } else {
        marketBtn.className = 'w3-button w3-grey';
        limitBtn.className = 'w3-button w3-red';
        limitPriceInput.style.display = 'inline-block'; // Show the limit price input
    }
}

function executeOrder(type) {
    var orderType = document.getElementById('marketBtn').classList.contains('w3-red') ? 'market' : 'limit';
    var symbol = document.getElementById('modalStockSymbol').textContent;
    var price = orderType === 'limit' ? document.getElementById('limitPrice').value : document.getElementById('modalPrice').textContent;
    var quantity = document.getElementById('modalQuantity').value;  // Get the quantity from the input

    // Using Fetch to send a POST request to Flask
    fetch('/order', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/x-www-form-urlencoded',
        },
        body: `order_type=${orderType}&transaction_type=${type}&symbol=${symbol}&price=${price}&quantity=${quantity}`  // Include quantity in the request
    })
    .then(response => response.json())
    .then(data => {
        alert('Order status: ' + data.message);
        document.getElementById('confirmationModal').style.display='none';
    })
    .catch(error => console.error('Error:', error));
}

function validateQuantity() {
    var quantityInput = document.getElementById('modalQuantity');
    if (quantityInput.value < 1) {
        quantityInput.value = 1;  // Reset to 1 if invalid value is entered
        alert("Quantity must be at least 1.");
    }
}

// Adding a function to close the modal
function closeModal() {
    document.getElementById('confirmationModal').style.display = 'none';
}

function showRank(rankType) {
    // Fetch rank data from the server
    fetch(`/rank/${rankType}`)
    .then(response => response.json())
    .then(data => {
        // Populate the modal with rank data
        let rankList = '';
        data.forEach((item, index) => {
            rankList += `<p>${index + 1}. ${item.symbol}: ${item.value}</p>`;
        });
        document.getElementById('rankContent').innerHTML = rankList;
        document.getElementById('rankModalTitle').textContent = rankType.replace(/([A-Z])/g, ' $1').trim();
        document.getElementById('rankModal').style.display = 'block';
    })
    .catch(error => console.error('Error fetching rank data:', error));
}
</script>


{% endblock %}
